// http://www.color-hex.com/color-palette/1147

$primary: #4b7397;
$primary-hover: #003c69;

$light-primary: #4b7397;
$dark-primary: #003c69;

$primary-alt: #4b7397;

$blue-hover: #008bb3;

$blue-background: #00394a;

$warning: #f7e7b4;
$danger: #f00;
$white: #fff;

$form-border-inactive: #ddd;

$cell-header: #fbf5e1;

$dark-gray: #3e3e3e;
$light-gray: #ddd;

$positive-number: #90ee90;
$negative-number: #ff4c4c;


$tablet: 'screen and (max-width 768px 8)';
$mobile: 'screen and (max-width 480px 4)';
